.idea/libraries/animated_vector_drawable_23_2_1.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/okio_1_6_0.xml
.idea/workspace.xml
.idea/libraries/support_v4_23_2_1.xml
.idea/libraries/appcompat_v7_23_2_1.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/mimecraft_1_1_1.xml
.idea/libraries/recyclerview_v7_23_2_1.xml
.idea/libraries/okhttp_3_2_0.xml
.idea/libraries/support_annotations_23_2_1.xml
.idea/libraries/play_services_basement_8_1_0.xml
.idea/libraries/support_vector_drawable_23_2_1.xml
.idea/libraries/play_services_appindexing_8_1_0.xml
.idea/libraries/design_23_2_1.xml